/*
// Reglas para CSS
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales 'efecto visuales como el hover'
5. Otras / Miselaneos
*/

/* varialble para colores */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;

  --color-primario: #b9ff66;
  --color-secundario: #191a23;
  --gray-color: #f3f3f3;

  --padding-container: 80px 0;

  --transform-list-menu: translate(-100%);

  --nav-icon-background: url("./img/icon/icon-menu-open-black.png");
}

@font-face {
  font-family: "DM Mono", monospace;
  src: url(../fonts/DM_Mono/DMMono-Regular.ttf);
  src: url(../fonts/DM_Mono/DMMono-Medium.ttf);
  src: url(../fonts/DM_Mono/DMMono-MediumItalic.ttf);
  src: url(../fonts/DM_Mono/DMMono-Light.ttf);
  src: url(../fonts/DM_Mono/DMMono-LightItalic.ttf);
  src: url(../fonts/DM_Mono/DMMono-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Mono", monospace, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  /* 1rem = 10px*/
  font-weight: normal;
  font-style: normal;
  scrollbar-color: #f0a8d0 #ffebd4;
  scrollbar-width: thin;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  font-size: 1.6rem; /* = 16px por defexto en html*/
  background-color: #ffedfa;

  /* overflow: hidden; */
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100dvw;
  max-width: 1024px;
  min-width: 360px;
  margin: 0 auto;
  /* padding: 0 1.6rem; */
}
.header {
  position: sticky;
  top: 0;
  background-color: #fef5ea;

  .nav {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__label .nav__checkbox {
      display: none;
    }
    .nav__label {
      width: 2.4rem;
      height: 2.4rem;
      max-width: 3.2rem;
      max-height: 3.2rem;
      background-image: var(--nav-icon-background);
      background-size: cover;
      cursor: pointer;

      transition: background-image 0.4s;
    }

    .nav__logo--link,
    .nav__label {
      z-index: 100;
    }
  }
  .nav:has(.nav__checkbox:checked) {
    --nav-icon-background: url("./img/icon/icon-close-black.png");

    --transform-list-menu: translate(0);
  }

  .nav__mobile__container {
    position: fixed;
    inset: 0;

    display: grid;
    place-content: center;

    background-color: #fef5ea;

    transform: var(--transform-list-menu);
    transition: transform 0.5s;

    .nav__mobile__list {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      text-align: center;
      list-style: none;
    }
  }

  .nav__desktop {
    display: none;
  }
}

.main {
  display: grid;
  gap: 1.2rem;
  /* background-color: #acd9b2; */

  .section__main__title {
    width: 100%;

    aspect-ratio: 16/9;
    background-color: black;

    background-image: url("./img/villa_wall_home-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section__main__card__right {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.8rem;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.2rem;
      padding: 1.2rem;
      h2 {
        text-align: center;
        font-size: 3.2rem;
        font-style: italic;
      }
      button {
        padding: 0.2rem 1.6rem;
        border: 1px solid #fef5ea;
        border-radius: 0.6rem;
        background: none;

        display: block;
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  .section__main__bento {
    display: grid;
    grid-template-areas:
      "one one"
      "two two"
      "three three";
    gap: 1.2rem;

    .bento__one {
      grid-area: one;

      width: 100%;
      max-height: 32rem;

      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
    .bento__two {
      grid-area: two;

      width: 100%;
      max-height: 32rem;

      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
    .bento__three {
      grid-area: three;

      width: 100%;
      max-height: 32rem;

      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
    .bento__four {
      display: none;
    }
  }

  .section__main__cards {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    padding-bottom: 2rem;

    .article__cards {
      .cards__img {
        img {
          width: 100%;
          max-height: 22rem;
          object-fit: cover;
        }
      }
      h3 {
        text-align: center;
      }
      button {
        padding: 0.2rem 1.6rem;
        border: 1px solid #000;
        border-radius: 0.6rem;
        background: none;

        display: block;
        width: 40%;
        margin: 0 auto;
      }
    }
  }
}

.footer {
  background-color: #fef5ea;
}

@media (width >= 480px) {
  /*cell phone up*/
  .container {
    padding: 0 1.6rem;
  }
}

@media (width >= 768px) {
  /*cell phone down*/
  .main {
    .section__main__title {
      height: 32rem;
    }
    .section__main__card__right {
      grid-template-columns: 1fr 1fr;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
        h2 {
          text-align: center;
          font-size: 3.2rem;
          font-style: italic;
        }
        button {
          padding: 0.2rem 1.6rem;
          border: 1px solid #000;
          border-radius: 0.6rem;
          background: none;

          display: block;
          width: 60%;
          margin: 0 auto;
        }
      }
      figure img {
        min-width: 36rem;
        height: 100%;
        object-fit: cover;
        border-radius: 1.2rem;
      }
    }

    .section__main__bento {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(4, 1fr);

      gap: 1.2rem;
      grid-auto-flow: dense;

      .bento__one {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        max-height: none;
        height: 100%;
        border-radius: 1.2rem;
      }

      .bento__two {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        max-height: none;
        height: 100%;
        border-radius: 1.2rem;
      }

      .bento__three {
        grid-column: 2 / 5;
        grid-row: 3 / 6;
        max-height: none;
        height: 100%;
        border-radius: 1.2rem;
      }
      .bento__four {
        display: block;
        grid-column: 1 / 2;
        grid-row: 3 / 6;
        max-height: none;
        height: 100%;
        object-fit: cover;
        border-radius: 1.2rem;
      }
    }

    .section__main__cards {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding-bottom: 2rem;

      .article__cards {
        display: grid;
        grid-template-rows: auto 1fr;
        .cards__img {
          img {
            border-radius: 1.2rem;
          }
        }
        .card__section {
          display: grid;
          gap: 0.8rem;
          grid-template-rows: minmax(7rem, auto) 1fr auto;

          h3 {
            align-self: center;
            font-style: italic;
            font-weight: 800;
          }
          p {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (width >= 834px) {
  /*tablet up*/
  .main {
    .section__main__title {
      height: 36rem;
    }
  }
}

@media (width >= 1024px) {
  /*tablet down*/
  .nav {
    .nav__desktop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
      }
    }
    .nav__logo--link,
    .nav__label {
      display: none;
    }
  }

  .main {
    .section__main__title {
      height: 40rem;
    }

    .section__main__cards {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.8rem;
      padding-bottom: 2rem;
    }
  }
}

@media (width >= 1440px) {
  /*laptop*/
  .main {
    .section__main__title {
      height: 44rem;
    }
  }
}

/* @media (width >= 1440px) { /*1440 desktop
  
} */
