.rest__container {
  background-color: var(--color-background);
  .rest__presentacion {
    display: grid;
    gap: 1rem;
    background-color: var(--color-background);

    .rest__img {
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .rest__desc {
      padding: 0 0.8em;

      .category {
        font-size: var(--tamano-fuente-peq);
        color: var(--color-button);
        background-color: var(--color-link-dos);
        padding: 0.4em 0.8em;
        border-radius: 32px;
      }
    }
  }

  .icon-phone {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    fill: white;
  }
  .icon-whats {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
    fill: #1daa61;
  }
  .icon-location {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;

    fill: red;
  }
  .icon-location-dos {
    height: 24px;
    object-fit: cover;
    object-position: center;

    fill: red;
  }
  .arrow_rigth {
    height: 24px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    fill: var(--color-link-dos);
  }

  .rest__contacto {
    padding: 0 0.8em;

    .contacto_list {
      display: flex;
      gap: 1rem;

      .llamanos {
        font-size: var(--tamano-fuente-base);
        background-color: var(--color-footer);
        display: inline-flex;
        align-items: center;
        padding: 0.4em 1.2em;
        border-radius: 32px;
        color: var(--color-button);
        gap: 0.4rem;
      }

      div {
        display: grid;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--color-button);
        place-content: center;
      }
    }
  }
  .rest_direccion {
    padding: 0 0.8em;
    .direccion {
      display: inline-flex;
      align-items: center;
      gap: 1em;
    }
  }
  .rest_horario {
    padding: 0 0.8em;

    .horario_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .rest_servicios {
    padding: 0 0.8em;
  }

  .rest_pagos {
    padding: 0 0.8em;
    margin-bottom: 1em;
    .pago {
      font-size: var(--tamano-fuente-base);
      background-color: var(--color-footer);
      display: inline-flex;
      align-items: center;
      padding: 0.4em 1.2em;
      border-radius: 32px;
      color: var(--color-button);
      gap: 0.4rem;
    }
  }
}
