.yugos__main {
  container-type: inline-size;

  .yugos_presentacion {
    .presentacion_picture {
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;

        @container (width >= 720px) {
          height: 100%;
        }
      }
    }
    .presentacion_heattext {
      padding: var(--espaciado-xs);

      .presentacion_titulo {
        font-size: var(--tamano-fuente-xl);
        font-style: italic;
        color: var(--color-headline);
      }

      @container (width >= 720px) {
        padding: unset;
        align-self: center;
      }
    }

    @container (width >= 720px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
      gap: 1rem;
    }
  }

  .yugos_inf {
    .inf {
      display: grid;
      gap: 1rem;

      .inf_direc{
        a {
          color: var(--color-tertiary);
          text-decoration: none;
        }
      }
      .inf__horarios {
        
        ul {
          text-align: center;
        }
      }

      ul {
        list-style: none;
        color: var(--color-headline);
      }

      @container (width >= 1024px) {
        grid-template-columns: 1fr 1fr 1fr;

        button {
          border: none;

          figure {
            width: 100%;
            height: auto;
            background-color: var(--color-primario);

            img {
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            figcaption {
              font-weight: bold;
              color: var(--color-paragraph);
            }
          }
        }
      }
    }
  }

  .gallery_rest {
    display: flex;
    width: 100%;
    height: 430px;

    img {
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      opacity: 0.8;
      transition: 0.5s ease;

      &:hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
      }
    }
  }
}
