.cards__main {
  /* background-color: red; */
  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .card {
      /* background-color: hotpink; */
      /* border-radius: var(--radio-borde);
      overflow: hidden; */

      border: 1px solid rgb(59, 67, 83);

      .card__figure {
        position: relative;

        img {
          object-fit: cover;
          object-fit: contain;
          object-position: center;

          mask-image: linear-gradient(black 88%, transparent);
        }
        .card__figcaption {
          position: absolute;
          bottom: 8px;
          left: 20px;
          font-size: var(--tamano-fuente-grande);
          color: var(--color-headline);
          font-weight: 700;
        }
        .event-there {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0.4em;

          font-size: var(--tamano-fuente-peq);
          font-weight: 600;
          color: hsl(360, 75%, 62%);
          background-color: hsl(41, 92%, 90%);
          width: 100%;
          text-decoration: none;
        }
      }

      .card__text__container {
        display: grid;
        gap: 0.4rem;

        padding: 0.4em 1.2em;

        .card__text {
          font-weight: 700;
        }

        .card__text__span {
          color: var(--color-paragraph);
          font-weight: normal;
        }

        .lines {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
        }

        .card__buttons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: space-between;
          gap: 1rem;
        }
      }
    }
  }
}
