/*
// Reglas para CSS
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales 'efecto visuales como el hover'
5. Otras / Miselaneos

// Breakpoints
xs: 360px; // extra chico, extra small
  // @media (width >= xs)
sm: 640px; // chico, small
  // @media (width >= sm)
md: 768px; //mediano, medium
  // @media (width >= md)
lg: 1024px; // largo, large
  // @media (width >= lg)
xl: 1280px; // extra largo, extra large
  // @media (width >= xl)
2xl: 1536px; // 1440px doble extra largo
  // @meia (width >= 2xl)
*/

/* varialble para colores */
:root {
  --xs: 360px;
  --s: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;

  --fondo-principal: #1e1e1e;
  --fondo-secundario: #2a2a2a; /*targetas, modales, elementos scuendarios*/
  --text-color: #e0e0e0;
  --acento: #f48fb1; /*botones, iconos, interactividad*/
  --detalles: #c7748e;

  --icon-toggle-menu: url("../assets/icons/menu/menu_black.svg");
  --transform-menu-show: translate(-100%);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: 
    url('../font/Lato/Lato-Black.ttf'),
    url('../font/Lato/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: 
    url('../font/Lato/Lato-Bold.ttf'), /*700*/
    url('../font/Lato/Lato-BoldItalic.ttf'); /*700*/
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: 
    url('../font/Lato/Lato-Regular.ttf'), /*400*/
    url('../font/Lato/Lato-Italic.ttf'); /*400*/
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: 
    url('../font/Lato/Lato-Light.ttf'), /*300*/
    url('../font/Lato/Lato-LightItalic.ttf'); /*300*/
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src:
    url('../font/Lato/Lato-Thin.ttf'), /*100*/
    url('../font/Lato/Lato-ThinItalic.ttf'); /*100*/
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5%; /* 100% = 16px, (10 * 100) / 16 = 62.5% =>  1rem = 10px*/
  /*100  === normal*/
  /* scrollbar-color: var(--detalles) var(--fondo-principal); */
  scrollbar-width: thin;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
  color: var(--text-color);
}

ul {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--text-color);
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: var(--fondo-principal);
  font-size: 1.6rem;
}

.container {
  width: 100%;
  min-width: 360px;
  max-width: 1024px;
  /* width: min(360px, 1024px); */
  margin: 0 auto;
}

.main {
  display: grid;
  gap: 1rem;
  background-color: var(--fondo-secundario);
}

.main__description {
  .article {
    display: grid;
    grid-template-rows: auto 240px;
    gap: 1.2rem;

    div {
      display: grid;
      gap: 1.2rem;
      padding: 0 2rem;
      h1 {
        font-size: 3.2rem;
        text-align: center;
        font-style: italic;
      }

      a {
        background-color: var(--acento);
        font-weight: bold;
        border-radius: 0.8rem;
        padding: 4px 0;
        text-align: center;
        text-decoration: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main__cards {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));

  .card {
    min-width: 320px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 1.2rem;

    border: 2px solid var(--acento);
    padding: 0 0 10px 0;
    border-radius: 12px;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
    }
    h2 {
      text-align: center;
      align-self: center;
    }
    p {
      padding: 0 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    a {
      justify-self: center;
      width: 90%;
      background-color: var(--acento);
      color: var(--fondo-principal);
      font-weight: bold;
      border-radius: 0.8rem;
      padding: 4px 0;
      text-align: center;
      text-decoration: none;
    }
  }
}

.footer {
  height: 120px;
  background-color: var(--detalles);
  margin-top: 20px;

  display: grid;
  justify-content: center;
  align-content: center;
}

@media (width > 764px) {
  .main {
    .main__description {
      .article {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 320px;

        div {
          align-content: center;
        }
      }
    }
    .main__cards {
      .card {
        grid-template-rows: auto minmax(100px, auto) 1fr auto;
      }
    }
  }
}
