.header {
  background-color: var(--acento);
  position: sticky;
  top: 0;
  z-index: 10;

  .nav {
    width: 100%;
    background-color: var(--acento);

    .nav__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 80px;
      padding: 0 2rem;

      &:has(.nav__input:checked) {
        --icon-toggle-menu: url("../assets/icons/menu/close_black.svg");

        --transform-menu-show: translate(0);
      }

      .nav__figure,
      .nav__toggle {
        z-index: 10;
      }

      .nav__toggle {
        width: 40px;
        height: 40px;
        background-image: var(--icon-toggle-menu);
        background-size: cover;
        cursor: pointer;

        transition: background-image 0.5s;

        .nav__input {
          display: none;
        }
      }

      .nav__list {
        position: fixed;
        inset: 0;

        display: grid;
        place-content: center;
        gap: 2rem;

        background-color: var(--acento);
        padding: 1.5rem 5%;
        list-style: none;

        transform: var(--transform-menu-show);
        transition: 0.5s transform;

        .nav__link {
          color: var(--fondo-principal);
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}

@media (width > 764px) {
  .header {
    .nav {
      .nav__container {
        --transform-menu-show: translate(0);

        .nav__toggle {
          display: none;
        }

        .nav__list {
          position: static;
          grid-auto-flow: column;
          place-content: unset;
          padding: 0;
          transition: unset;

          background-color: unset;

          .nav__link {
            color: var(--fondo-principal);
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (width > 1024px) {
  .header {
    .nav {
      .nav__container {
        padding: 0;
      }
    }
  }
}
