.main {
  .main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.2rem;
    padding: 0 2rem;
    margin: 0 auto;

    .card {
      display: grid;
      grid-template-rows: 1fr auto;

      border: 2px solid var(--acento);
      border-radius: 1.2rem;
      overflow: hidden;
      padding: 0 0 2rem 0;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      div {
        display: grid;
        gap: 1.6rem;
        grid-template-rows: 120px auto auto;
        align-content: space-between;
        padding: 0 2rem;

        .card__title {
          text-align: center;
          align-self: center;
        }
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        a {
          display: inline-block;
          text-decoration: none;
          color: var(--fondo-principal);
          font-weight: 700;
          width: 100%;
          background-color: var(--acento);
          padding: 8px 0;
          text-align: center;
          border-radius: 1.2rem;
        }
      }
    }
  }
}

@media (width > 1024px) {
  .main {
    .main__cards {
      padding: 0;
    }
  }
}